# Compiled Object Files
*.o

# Executables and Libraries
*.so
*.dylib
*.a
newlisp

# Debug and Symbol Files
*.dSYM/

# Build and Configuration Artifacts
makefile_build
makefile_install
config.h
junk
*.tmp
*.log
qa_out.txt
qa-dot-test

# Python Cache
__pycache__/
*.pyc

# Operating System & Editor Files
.DS_Store
.DS_Store?
**/.DS_Store
*.swp
*~
.vscode/
.idea/
